img.profile{
  border-radius:50%;
  box-shadow: 0 0 40px #ebe8e8;
  
}
.rainbow{
            animation: styles 3s linear infinite;
        }

        @keyframes rainbow {
            0% {
                color: rgb(255 0 0);
            }

            25% {
                color: rgb(255, 255, 0);
            }

            50% {
                color: rgb(0, 255, 0);
            }

            75% {
                color: rgb(0 100 255);
            }
            100% {
                color: rgb(255 0 0);
            }
        }
}
page-title {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 125px;
  color: white;
  text-align: center;
}
.typing {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: typing 3s steps(1000, end);
        }

        @keyframes typing {
            0% {
                width: 0;
            }

            100% {
                width: 100%;
            }
        }
subtitle {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 70px;
  color: white;
}

normal {
  font-family: 'Inter';
  font-size: 20px;
  color: white;
}
a:link {
  color: #7289DA;
    font-family: 'Inter';
  background-color: transparent;
    font-size: 20px;
  text-decoration: underline;
}

a:visited {
  color: #7289DA;;
    font-family: 'Inter';
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #5865F2;
    font-family: 'Inter';
  background-color: transparent;
    font-size: 20px;
  text-decoration: underline;
}

a:active {
  color: #5865F2;
    font-family: 'Inter';
  background-color: transparent;
    font-size: 20px;
  text-decoration: underline;
}

.box{
  border-radius: 20px; 
  background-color: #383a40;
  padding: 30px;
  margin: 30px;
}
