img.profile{
  border-radius:50%;
  box-shadow: 0 0 15px #ebe8e8;
  transition: all 500ms ease-out;
}
img.profile:hover{
  transform: scale(1.05);
  box-shadow: 0 0 30px #ebe8e8;
}
img.box{
  border-radius:20px
    
  box-shadow: 0 0 10px #ebe8e8;
    padding: 0px;

bar{
    border-radius:10px
    background-color: #696a6e;
    transition: all 500ms ease-out;
}
active-bar{
      border-radius:10px
    background-color: #5865F2;
}
  bar:hover{
        border-radius:12px
    background-color: #76767a;

  }
}

/* thx to w3schools for this awesome code */
.split {
  column-count: 2;
}

li {
  float: left;
    text-decoration: none;
}

li a {
  
  display: block;
  border-radius: 10px
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Inter';
  
  transition: background-color 500ms ease-out;
  
  transition: color 500ms ease-out;
}

li a:hover:not(.active) {
  background-color: #5865F2;
    text-decoration: none;
    color: #fff;
}

li a.active {
  color: white;
    text-decoration: none;
  background-color: #5865F2;
}

.styles-animation{
            animation: styles 3s linear infinite;
        }

        @keyframes styles {
            0% {
                color: rgb(255 0 0);
            }

            25% {
                color: rgb(255, 255, 0);
            }

            50% {
                color: rgb(0, 255, 0);
            }

            75% {
                color: rgb(0 100 255);
            }
            100% {
                color: rgb(255 0 0);
            }
        }

page-title {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 125px;
  color: white;
    line-height: 1.5;
  text-align: center;
}
.typing {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: typing 3s steps(1000, end);
        }

        @keyframes typing {
            0% {
                width: 0;
            }

            100% {
                width: 100%;
            }
        }
subtitle {
  font-family: 'Inter';
    line-height: 1.5;
  font-weight: bold;
  font-size: 70px;
  color: white;
}

normal {
  font-family: 'Inter';
  font-size: 20px;
  color: white;
    line-height: 1.5;
}
a:link {
  color: #7289DA;
    font-family: 'Inter';
  background-color: transparent;
    font-size: 20px;
    line-height: 1.5;
  text-decoration: underline;
}

a:visited {
  color: #7289DA;;
    font-family: 'Inter';
    line-height: 1.5;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #5865F2;
    font-family: 'Inter';
  background-color: transparent;
    font-size: 20px;
  text-decoration: underline;
}

a:active {
  color: #5865F2;
    font-family: 'Inter';
  background-color: transparent;
    font-size: 20px;
  text-decoration: underline;
}

.box{
  border-radius: 20px; 
  background-color: #383a40;
  padding: 30px;
  margin: 30px;
  transition: all 500ms ease-out;
}
.nav-bar-box{
  border-radius: 20px; 
  background-color: #383a40;
  box-shadow: 0 0 5px #ebe8e8;
  padding: 10px;
  margin: 10px;
  transition: box-shadow 500ms ease-out
.nav-bar-box:hover {
  box-shadow: 0 0 12px #ebe8e8;
}
}
.box:hover {
  box-shadow: 0 0 20px #ebe8e8;
    transform: scale(1.00255);
}
