{background-color: #1e2124}
page-title {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 150px;
}

subtitle {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 70px;
}

normal {
  font-family: 'Inter';
  font-size: 20px;
}

body {
  background-color: '#1e2124';
}

hyperlink {
  font-family: 'Inter';
  font-size: 20px;
  text-color: blue;
}
hyperlink.hover {
  font-family: 'Inter';
  font-size: 20px;
  text-color: '#5865F2';
}
}
